@import 'jeet'
@import '_settings'


//global vars
code-blue = #ebf0f6
ionic-blue = #4e8ef7

//global mixins
normalize-css()
base()





*{
  font-weight 200
  -webkit-box-sizing border-box;
  -moz-box-sizing border-box;
  box-sizing border-box;
}
html,body
  padding 0
  size(100% 100%)

.header
  padding 50px 35px
  background linear-gradient(left, #296ad4, #4e8ef7)
  color white
  +below(680px)
    text-align center

  h1
    fs(70px)
    font-weight 100 !important
    margin 0

.footer
  background #2b3442;
  color #a4b3cd;
  size(100% 150px)

.content
  width 90%
  min-height 100%
  padding 20px
  center(1200px, pad = 20px)

  .left
    column(1/4)
    padding 0 20px
    box-shadow 0 0 5px rgba(#000, .1)
    border-radius 5px
    color #3c4f6e
    height 100%
    +below(680px)
      stack()
      display none

  .right
    column(3/4)
    float right !important;
    +below(680px)
      stack()

    .article
      margin-bottom 80px


hr
  opacity 0.1
  background linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 50%,rgba(252,252,252,0) 100%)
  color none
  height 1px


//Code Highlighting
code
  background #ebf0f6;
  color #3c4f6e


pre
  padding 15px
  color #3c4f6e;
  background #ebf0f6;
  +below(680px)
    white-space pre 
    overflow-x scroll


a.post
  text-decoration none
  color ionic-blue
  transition all 0.5s ease
  &:hover
    color darken(ionic-blue, 30%)
    font-weight bolder


.sm-only
  display none
  +below(680px)
    -webkit-appearance none
    display block
    margin auto
    background-color white
    width 80%
    font-size 17px
    border 1px solid #555
    padding 0.5em
    line-height 1.2em
    -webkit-border-radius 0.5em



.fixed-menu
  position fixed;
  -webkit-transform translate3d(0, 0, 0);
  -moz-transform translate3d(0, 0, 0);
  transform translate3d(0, 0, 0);
