---
title: 'iOS emulate issues'
id: 'emulate'
---

:markdown
  Starting an iOS emulator from the command line is a really powerful feature. It gets rid of the need to open up xCode and keeps a nice terminal-only workflow. But when you try to use `ionic emulate ios` it throws an awful error.
  ```bash
  Error: ios-sim was not found. Please download, build and install version 1.7 or greater from https://github.com/phonegap/ios-sim into your path. Or 'npm install -g ios-sim' using node.js: http://nodejs.org/
  ```
  Well this is because you need to install a utility package called ios-sim. This package allows you to access the iOS simulator from the command line. This can be installed with a simple `npm install`.
  ```bash
  $ sudo npm install -g ios-sim
  ```
  With this installed, you’ll be able to emulate to the iso-simulator.
