---
title: 'Randomly projects unable to locate plugins'

---

:markdown
  When you update an iOS project to a new version of Cordova, sometimes you will get an error saying it was unable to locate a plugin. You open up Xcode, try to run and build from there and get this error in your console.
  ```
  2014-11-12 14:36:18.284 Tell The DJ[14955:c07] ERROR: Plugin 'Device' not found, or is not a CDVPlugin. Check your plugin mapping in config.xml.
  2013-08-23 14:36:18.284 Tell The DJ[14955:c07] -[CDVCommandQueue executePending] [Line 116] FAILED pluginJSON = [
    "Device1096677259",
    "Device",
    "getDeviceInfo",
    [

    ]
  ]
  ```
  This can happen for a number of reasons, but the most common is manually adding files to the native project. The linking process during a build cycle gets broken and none of the native files are moved over. To fix this, delete the `ios.json` file in the plugins folder. This will make Cordova have to recopy all the plugin files.

  In more extreme cases, sometimes a complete removal of the project is needed.
