---
title: 'Update Cordova, now I can’t do anything'
---

:markdown
  When Cordova pushes a new version, it’s always best to update. So you run this command to update the Cordova binaries.
  ```bash
  $ sudo npm update -g cordova
  ```
  Great, but when you try to do anything in a project, you’ll get an error. Well this is because there are actually different versions of Cordova for each platform. So from inside your project you need to run Cordova’s update command.
  ```bash
  $ cordova update platform ios
  $ cordova update platform android
  ```
  Now all your platform specific versions of Cordova are updated.
